p {
    color:brown;
    text-align:center;
    line-height:30px;
}

h1 {
    text-align:center;
    color:red;
    font-family:Georgia;
}

h3 {
    text-align:center;
    color:black;
}

h4 {
    text-align:center;
}

a {
    text-decoration:none;
    color:rgb(0,128,0);
}

button {
    background-color:white;
    color: rgb(150,130,255);
}

textarea {
    color:black;
}
